.add-container {
  /* margin-top: 100px; */
  padding: 10px;
  min-height: 100vh;
  background: #f7f5ff;
}

.add-container h2 {
  text-align: center;
  font-size: 28px;
  color: #1e3a8a;
  margin-bottom: 25px;
}

.add-form {
  max-width: 450px;
  margin: auto;
  background: white;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.add-form label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #1e3a8a;
}

.add-form input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 15px;
}

.add-form input:focus {
  border-color:#1e3a8a;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

.btn-add {
  background:#1e3a8a;
  color: white;
  padding: 12px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add:hover {
  background:#1e3a8a;
}
  .add-form select {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 15px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

/* Focus effect same as input */
.add-form select:focus {
  border-color:#1e3a8a;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

/* Optional hover (matches buttons & inputs) */
.add-form select:hover {
  border-color: #1e3a8a;
}
